[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
coverage = "*"
isort = "*"
black = "==21.4b2"
requests = "*"

[packages]
beautifulsoup4 = "*"
fastapi = "*"
uvicorn = "*"
html5lib = "*"
httpx = {extras = ["http2"], version = "==0.18.*"}
orm = "*"
aiosqlite = "*"

[requires]
python_version = "3.9"
