[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
coverage = "*"
isort = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
peewee = "*"
html5lib = "*"

[requires]
python_version = "3.9"
